
.jumbotron img {
	 width : 200px ;
	 height : 200px;
	 border: 2px solid #666;
}

hr {
	width: 250px;
	border-top : 3px solid #888;
}

section {
	min-height: 400px;

}

.portfolio {
	margin-top: 50px;
	background-color: #eee
}

div.row{
	display: flex;
	justify-content: space-evenly;
}

div.row > div > a > img{
	width: 25rem;
	margin: 2rem 0;
	border: .3rem solid #fff;
}
